﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="ErrorHandling.Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <asp:Label ID="lblWhat" runat="server" Text=""></asp:Label>
            </div>
            <div>
                <asp:Label ID="lblWhy" runat="server" Text=""></asp:Label>
            </div>
            <div>
                <asp:Label ID="lblSuggestion" runat="server" Text=""></asp:Label>
            </div>
        </div>
    </form>
</body>
</html>
