﻿.plus {
    background-image:url('Image/add.png');
    background-position: center center;
    width:24px;
    height:24px;
}

.equal {
    background-image:url('Image/equal.png');
    background-position: center center;
    width:24px;
    height:24px;
}

.clicable:hover {
    border: 1px solid #aaaaaa;
}

.operand {
    width: 50px;
}

.operand-wrapper {
    float: left;
}

.sign-wrapper {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}