﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Site.css" rel="stylesheet" />

    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/pages/fraction-page.js"></script>
</head>
<body>
    <div> 
        <div class="operand-wrapper">
            <input id="a1" type="text" class="operand" />&nbsp;/&nbsp;<input id="b1" type="text" class="operand" />
        </div>
        <div class="sign-wrapper">
            <div class="plus"></div>
        </div>
        <div class="operand-wrapper">
            <input id="a2" type="text" class="operand" />&nbsp;/&nbsp;<input id="b2" type="text" class="operand" />
        </div class="operand-wrapper">
        <div class="sign-wrapper">
            <div id="calc" class="equal clicable"></div>
        </div>
        <div class="operand-wrapper">
            <input id="a" type="text" readonly="readonly" class="operand" />&nbsp;/&nbsp;<input id="b" type="text" class="operand"  readonly="readonly" />
        </div>
    </div>
</body>
</html>
