﻿.my-div {
    background-color:azure;
    height:50px;
    width:100%;
    border:2px solid #aaaaaa;
}

.my-icon-button {
    height:64px;
    width:64px;
    background-image:url(images/note-icon.png);
}
