﻿#header {
    height:60px;
    font-size:32px;
    font-weight:bold;
    padding:20px;
    color:#8034ef;
    background-color:#b6b3b3;
}
#main-content {
    height: 300px;
}
#footer {
    height:20px;
    border-top:1px solid #808080;
    border-bottom:1px solid #808080;
    text-align:center; 
    color:#aa9696;           
}