﻿
@{
    Layout = null;

    double? left = ViewBag.Left ?? default(double?);
    double? right = ViewBag.Right ?? default(double?);
    double? result = ViewBag.Result ?? default(double?);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <div>
            <input name="left" type="text" value="@(left.HasValue ? left.Value.ToString() : "")" />
            <select name="operation">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
            <input name="right" type="text" value="@(right.HasValue ? right.Value.ToString() : "")" />
            <input name="calc" type="submit" value="=" />
            @if(result.HasValue)
            {
                <span>@result.Value</span>
            }
        </div>
    </form>
</body>
</html>
