﻿
@{
    Layout = null;

    IEnumerable<KeyValuePair<byte, double>> numbers = ViewBag.Numbers;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Fibonacci Numbers</h1>
        <div>
            @foreach(var p in numbers)
            {
                <div>
                    <span>@p.Key</span>
                    <span>:&nbsp;</span>
                    <span>@p.Value</span>
                </div>
            }
        </div>
    </div>
</body>
</html>
