﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/pages/CalcPage.js"></script>
</head>
<body>
    <div id="calc-page">
        <input id="left-arg" type="text" />
        <select id="operation">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <input id="right-arg" type="text" />
        <input id="calc-button" type="button" value="=" />
        <span id="result"></span>
    </div>
</body>
</html>
