﻿@model _04_Registration.Models.UserRegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    <div> 
        <h1>Registration</h1>
        <div>
            <div>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div>
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                @Html.LabelFor(m => m.PasswordConfirmation)
                @Html.PasswordFor(m => m.PasswordConfirmation)
                @Html.ValidationMessageFor(m => m.PasswordConfirmation)
            </div>
            <div>
                <input id="register-button" name="register-button" type="submit" value="submit" />
            </div>
        </div>
    </div>
    }
</body>
</html>
