﻿.my-div {
    background-color:burlywood;
    height:50px;
    width:100%;
    border:2px solid #11abba;
}

.my-icon-button {
    height:64px;
    width:64px;
    background-image:url(images/notes-edit-icon.png);
}

#TextBox1 {
    background-color: blue;
}