﻿
@{
    Layout = null;

    DateTime now = ViewBag.Now;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello MVC!!!</h1>
        <div>
            <span>Server time: </span>
            <span>@now.ToShortTimeString()</span>
        </div>
    </div>
</body>
</html>
